<div class="about-container" id="about">
    <h2 class="about-head">About Me</h2>
    <div class="about">
        <div class="about-content">
            
            <p>   As a highly skilled Java full-stack developer, I bring a wealth of experience and expertise to
                every project I undertake. My proficiency in both front-end and back-end technologies enables me to
                create seamless and efficient solutions that meet the unique needs of clients. With a keen sense of
                logical thinking, I approach challenges methodically, ensuring robust and scalable solutions. Time
                management is a cornerstone of my work ethic, enabling me to deliver high-quality projects within
                specified timelines. My commitment to client satisfaction is unwavering, and I consistently strive
                to exceed expectations by combining technical excellence with a deep understanding of user
                requirements. With a proven track record of successful projects, I am poised to contribute my skills
                to the success of future endeavors.</p>
        </div>
        <div class="about-img">
            <img src="assets/img/n2.jpg" alt="image">
        </div>
    </div>
</div>