.about-container {
    width: 100%;
    height: 100%;
    color: white;
    padding: 100px 0 30px 0;
    margin: 30px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
    gap: 0 5.5rem;
}

.about-head {
    display: inline;
    color: #f9532d;
    letter-spacing: 2px;
    font-weight: bold;
    margin: 0 5rem;
}

.about-content {
    width: 550px;
    height: 400px;
    padding: 10px; 
    font-size: 15px;
}

.about-content p {
    text-indent: 35px;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.about-content p::selection {
    background-color: #f9532d;
}

.about-img {
    width: 400px;
}

.about-img img {
    height: 400px;
    margin-left: 3rem;
    border-radius: 15px;
}
                
@media only screen and (max-width: 400px) {
    .about-container {
        padding: 50px 10px 30px;
        margin: 0;
    }

    .about {
        gap: 9rem 5.5rem;
    }

    .about-head {
        margin: 0 1rem;
    }

    .about-content p {
        width: 350px;
    }

    .about-img {
        width: 350px;
    }

    .about-img img {
        margin-left: 2rem;
        height: 350px;
    }
}