<div class="skill-container" id="skill">
    <h2>Skills</h2>
    <div class="skill-cards">
        <div class="card html">
            <img src="assets/img/html_img.png">
            <h3>HTML</h3>
        </div>
        <div class="card css">
            <img src="assets/img/css-logo.png">
            <h3>CSS</h3>
        </div>
        <div class="card js">
            <img src="assets/img/js_img.png">
            <h3>Javascrip</h3>
        </div>
        <div class="card bootstrap">
            <img src="assets/img/bootstrap.jpg">
            <h3>Bootstrap</h3>
        </div>
        <div class="card angular">
            <img src="assets/img/angular.png">
            <h3>Angular</h3>
        </div>
        <div class="card java">
            <img src="assets/img/java.png">
            <h3>Java</h3>
        </div>
        <div class="card spring-boot">
            <img src="assets/img/spring-boot.png">
            <h3>Spring Boot</h3>
        </div>
        <div class="card mysql">
            <img src="assets/img/mysql.png">
            <h3>My Sql</h3>
        </div>
    </div>
</div>
