<header class="nav-bar">
  <nav class="page-header">
      <div class="logo">
          <img src="assets/img/logo1.jpeg" alt="logo" width="80px" height="28px">
      </div>

      <ul class="nav-link">
          <li style="--delay:1"><a href="#">Home</a></li>
          <li style="--delay:2"><a href="#about">About</a></li>
          <li style="--delay:3"><a href="#skill">Skills</a></li>
          <li style="--delay:4"><a href="#contact">Contact</a></li>
      </ul>

      <button class="menu">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 512 512"><path fill="none" stroke="white" stroke-linecap="round" stroke-miterlimit="10" stroke-width="48" d="M88 152h336M88 256h336M88 360h336"/></svg>
      </button>
        
  </nav>
</header>

<app-home></app-home>
<app-about></app-about>
<app-skill></app-skill>
<app-contact></app-contact> 

